<%- include ("template/header.ejs",{tituloWeb: "Carrito"})%>
<div class="container-fluid">
    <div class="row">
        <h2 class="display-4 text-uppercase mt-2 mb-5">Ropa</h2>
    </div>
    <div class="row">
        <div class="col">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th class="display-6">Talla</th>
                <th class="display-6">Descripción</th>
                <th class="display-6">Defecto</th>
                <th class="display-6">Precio</th>
            </tr>
        </thead>
        <tbody id="tabla_prendas">
        </tbody>
    </table>
        </div>
        <div class="col">
            <h2 class="display-4 text-uppercase mt-2 mb-5">Precio</h2>
        </div>
    </div>
</div>
<script>
    a=localStorage.getItem('pedido_carrito');
    carrito_parseado=JSON.parse(a);

    tabla_carrito(carrito_parseado);
   function tabla_carrito(carrito){
		var tabla = document.getElementById('tabla_prendas')
        
		for (var i = 0; i < carrito.length; i++){
			var row = `<tr>
							<td>${carrito[i].talla}</td>
							<td>${carrito[i].descripcion}</td>
							<td>${carrito[i].defecto}</td>
                            <td>${carrito[i].precio}</td>
					  </tr>`
			tabla.innerHTML += row


		}
	}
</script>
<%-include ("template/footer.ejs")%>
