<%- include ("template/header.ejs",{tituloWeb: "Carrito" })%>
    <div class="container-fluid">
        <div class="row">
            <h2 class="display-6 text-uppercase text-decoration-underline mt-2 mb-1">Ropa</h2>
        </div>
        <div class="row">
            <div class="col col-sm-6 col-lg-8" id="lista_carrito">
                <div class="row">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th class="display-6">Talla</th>
                                <th class="display-6">Descripción</th>
                                <th class="display-6">Defecto</th>
                                <th class="display-6">Precio</th>
                            </tr>
                        </thead>
                        <tbody id="tabla_prendas">
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <h2 class="display-6 text-uppercase text-decoration-underline mt-5 mb-1">Libros</h2>
                </div>
                <div class="row">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th class="display-6">Título</th>
                                <th class="display-6">Autor</th>
                                <th class="display-6">Descripción</th>
                                <th class="display-6">Defecto</th>
                                <th class="display-6">Precio</th>
                            </tr>
                        </thead>
                        <tbody id="tabla_libros">
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <h2 class="display-6 text-uppercase text-decoration-underline mt-5 mb-1">Videojuegos</h2>
                </div>
                <div class="row">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th class="display-6">Título</th>
                                <th class="display-6">Descripción</th>
                                <th class="display-6">Defecto</th>
                                <th class="display-6">Precio</th>
                            </tr>
                        </thead>
                        <tbody id="tabla_videojuegos">
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <h2 class="display-6 text-uppercase text-decoration-underline mt-5 mb-1">Juegos de Mesa</h2>
                </div>
                <div class="row">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th class="display-6">Título</th>
                                <th class="display-6">Descripción</th>
                                <th class="display-6">Defecto</th>
                                <th class="display-6">Precio</th>
                            </tr>
                        </thead>
                        <tbody id="tabla_juegomesa">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-6  col-lg-3">
                <h2 class="display-6 text-uppercase ms-5 mt-2 mb-5">Precio Reparación</h2>
            </div>
        </div>
    </div>
    </div>
    <script>
        ropa = localStorage.getItem('pedido_ropa');
        libros = localStorage.getItem('pedido_libros');
        videojuegos = localStorage.getItem('pedido_videojuegos');
        juegosmesa = localStorage.getItem('pedido_juegomesa');
        ropa_parseada = JSON.parse(ropa);
        libros_parseado = JSON.parse(libros);
        videojuegos_parseado = JSON.parse(videojuegos);
        juegomesa_parseado = JSON.parse(juegosmesa);
        tabla_ropa(ropa_parseada);
        tabla_libros(libros_parseado);
        tabla_videojuegos(videojuegos_parseado);
        tabla_juegomesa(juegomesa_parseado);
        function tabla_ropa(carrito) {
            var tabla = document.getElementById('tabla_prendas')

            for (var i = 0; i < carrito.length; i++) {
                var row = `<tr>
							<td>${carrito[i].talla}</td>
							<td>${carrito[i].descripcion}</td>
							<td class="fst-italic">${carrito[i].defecto}</td>
                            <td class="fw-bold">${carrito[i].precio} €</td>
					  </tr>`
                tabla.innerHTML += row


            }
        }
        function tabla_libros(carrito) {
            var tabla = document.getElementById('tabla_libros')

            for (var i = 0; i < carrito.length; i++) {
                var row = `<tr>
							<td>${carrito[i].titulo}</td>
                            <td>${carrito[i].autor}</td>
							<td td style="width:25%; font-size: 12px;">${carrito[i].descripcion}</td>
							<td class="fst-italic">${carrito[i].defecto}</td>
                            <td class="fw-bold">${carrito[i].precio} €</td>
					  </tr>`
                tabla.innerHTML += row


            }
        }
        function tabla_videojuegos(carrito) {
            var tabla = document.getElementById('tabla_videojuegos')

            for (var i = 0; i < carrito.length; i++) {
                var row = `<tr>
							<td>${carrito[i].titulo}</td>
							<td td style="width:25%; font-size: 12px;">${carrito[i].descripcion}</td>
							<td>${carrito[i].defecto}</td>
                            <td>${carrito[i].precio}</td>
					  </tr>`
                tabla.innerHTML += row


            }
        }
        function tabla_juegomesa(carrito) {
            var tabla = document.getElementById('tabla_juegomesa')

            for (var i = 0; i < carrito.length; i++) {
                var row = `<tr>
							<td>${carrito[i].titulo}</td>
							<td td style="width:25%; font-size: 12px;">${carrito[i].descripcion}</td>
							<td>${carrito[i].defecto}</td>
                            <td>${carrito[i].precio}</td>
					  </tr>`
                tabla.innerHTML += row


            }
        }
    </script>
    <%-include ("template/footer.ejs")%>