<%- include ("template/header.ejs",{tituloWeb: "Carrito"})%>
<table>
    <thead>
        <tr>
            <td>
                <b>Pedido Ropa</b>
            </td>
            <tr id="pedido_ropa"></tr>
            <button onclick=tabla_carrito()></button>
        </tr>
    </thead>
    <thead>
        <tr>
            <td>
                <b>Pedido Libros</b>
            </td>
        </tr>
    </thead>
    <thead>
        <tr>
            <td>
                <b>Pedido Videojuegos</b>
            </td>
        </tr>
    </thead>
    <thead>
        <tr>
            <td>
                <b>Pedido Juegos de Mesa</b>
            </td>
        </tr>
    </thead>
</table>
<script>
    function tabla_carrito(){
       carrito= localStorage.getItem(pedido_carrito);
        console.log(carrito=JSON.parse(carrito))
    }
</script>
<%-include ("template/footer.ejs")%>
