<%- include ("template/header.ejs",{tituloWeb: "Carrito"})%>
<table>
    <thead>
        <tr>
            <td>
                <b>Pedido Ropa</b>
            </td>
            <tr id="pedido_ropa"></tr>
        </tr>
    </thead>
    <thead>
        <tr>
            <td>
                <b>Pedido Libros</b>
            </td>
        </tr>
    </thead>
    <thead>
        <tr>
            <td>
                <b>Pedido Videojuegos</b>
            </td>
        </tr>
    </thead>
    <thead>
        <tr>
            <td>
                <b>Pedido Juegos de Mesa</b>
            </td>
        </tr>
    </thead>
</table>
<script>
    window.addEventListener('DOMContentLoaded',tabla_carrito);
    function tabla_carrito(){
        localStorage.getItem(pedido_carrito);
    pedido_ropa=document.getElementById("pedido_ropa");
    carrito_prenda=JSON.parse(pedido_carrito);
    carrito_prenda.forEach(element => pedido_ropa.insertAdjacentHTML('beforebegin', `<tr><td>${carrito_prenda.talla}</td><td>${carrito_prenda.descripcion}</td></tr></td><td>${carrito_prenda.defecto}</td></tr></td><td>${carrito_prenda.precio}</td></tr>`));
    }
</script>
<%-include ("template/footer.ejs")%>
