/*Variables*/
:root {
    --mainColor: #f2de7d;
    --mainLigth: #ece2b0;
  }

#navbar,#footercontainer{
    background-color: var(--mainColor);
}

#navbarselect:hover{
    color: black;
}

#imagenes_carrusel{
    max-height: 600px;
    min-height: 600px;
    object-fit: cover;
    background-color: black;
    opacity: 70%;
}

#carrusel{
    background-color: black;
}

#cartas{

}

/*Buttons*/
#btn_style{
    background-color: var(--mainColor);
    border: solid 1px grey;
}
#btn_style:hover{
    background-color: var(--mainLigth);
}

thead{
    border-bottom: solid 4px var(--mainColor);
}

td{
    border-bottom: solid 4px var(--mainLigth); 
}